# The original env file is not committed to github so please copy and paste this into your own repo

AWS_REGION=ap-southeast-1

INTERPRETATION_MODEL=sonnet
TRANSLATION_MODEL=sonnet

WHISPER_MODEL=mjwong/whisper-large-v3-turbo-singlish